remote_theme: "keikai/minimal-mistakes@zk"
repository: keikai/minimal-mistakes
#theme: "minimal-mistakes-jekyll" # use local theme
plugins:
  - jekyll-remote-theme
  - jekyll-include-cache  #required by minimal-mistakes
  - jekyll-paginate
  - jekyll-redirect-from

  #- jekyll-sitemap #disabled to use custom sitemap.xml template

minimal_mistakes_skin: "zk"
name: "Potix Corporation"
logo: /assets/images/ZK-logo.svg

#  Lunr search only indexes collection documents e.g. posts or any custom collections you have. It does not currently index site.pages. so we use google search from https://programmablesearchengine.google.com/controlpanel/all
search                    : true
search_full_content       : true
#  Lunr search only indexes collection documents e.g. posts by default, so we need to enable search_within_pages for all pages
lunr:
    search_within_pages: true
search_provider: lunr
#google:
#  search_engine_id: a4a9ff8c389a44148
# check page indexing at https://search.google.com/search-console

#loadga4 declared in minimal-mistakes
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-57B6X16TY1"
    policy_url: "https://www.zkoss.org/privacy"

defaults:
  - scope:
      path: ""
    values:
      layout: single
      toc: true
      comments: true
      share: true
  - scope:
      path: "get_started"
    values:
      sidebar:
        nav: "get_started"
  - scope:
      path: "zats_essentials"
    values:
      sidebar:
        nav: "zats_essentials"
  - scope:
      path: "zk_calendar_essentials"
    values:
      sidebar:
        nav: "zk_calendar_essentials"
  - scope:
      path: "zk_charts_essentials"
    values:
      sidebar:
        nav: "zk_charts_essentials"
  - scope:
      path: "zk_client_side_ref"
    values:
      sidebar:
        nav: "zk_client_side_ref"
  - scope:
      path: "zk_component_dev_essentials"
    values:
      sidebar:
        nav: "zk_component_dev_essentials"
  - scope:
      path: "zk_component_ref"
    values:
      sidebar:
        nav: "zk_component_ref"
  - scope:
      path: "zk_config_ref"
    values:
      sidebar:
        nav: "zk_config_ref"
  - scope:
      path: "zk_dev_ref"
    values:
      sidebar:
        nav: "zk_dev_ref"
  - scope:
      path: "zk_essentials"
    values:
      sidebar:
        nav: "zk_essentials"
  - scope:
      path: "zk_installation_guide"
    values:
      sidebar:
        nav: "zk_installation_guide"
  - scope:
      path: "zk_jsp_tags_essentials"
    values:
      sidebar:
        nav: "zk_jsp_tags_essentials"
  - scope:
      path: "zk_mvvm_ref"
    values:
      sidebar:
        nav: "zk_mvvm_ref"
  - scope:
      path: "zk_pivottable_essentials"
    values:
        sidebar:
            nav: "zk_pivottable_essentials"
  - scope:
      path: "zk_spring_essentials"
    values:
      sidebar:
        nav: "zk_spring_essentials"
  - scope:
      path: "zk_studio_essentials"
    values:
      sidebar:
        nav: "zk_studio_essentials"
  - scope:
      path: "zk_style_customization_guide"
    values:
      sidebar:
        nav: "zk_style_customization_guide"
  - scope:
      path: "zuml_ref"
    values:
      sidebar:
        nav: "zuml_ref"
  - scope:
     path: "_posts"
    values:
      sidebar:
        nav: "small_talk"

category_archive:
  type: liquid
  path: /categories/

atom_feed:
  hide: true
# disqus admin is hawkchen@potix.com

exclude:
  - tool/
  - "*.iml"
  - "*.code-workspace"
  - "README.md"
  - "CLAUDE.md"
  - "*.sh"

include:
  - "_pages"
