<div class="applicable-box">
    <strong>Applicable:</strong>
    <ul>
        <li>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            globally in <code>zk.xml</code> via <code>&lt;library-property&gt;</code>
        </li>
        <li>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <strong>not</strong> as <code>&lt;custom-attribute&gt;</code>
        </li>
    </ul>
</div>
<style>
    .applicable-box i.fa-check-circle {
        color: #28a745;
        margin-right: 0.5em;
    }

    .applicable-box i.fa-times-circle {
        color: #dc3545;
        margin-right: 0.5em;
    }
</style>